
PH.Basic/PH.UnitTest/PH.UnitTest/PH.UnitTest.csproj
PH.Basic/PH.UnitTest/PH.UnitTest/UnitTest1.cs
/PH.Basic/PH.Wechat/obj/*.cache
/PH.Basic/PH.Wechat/obj/*.json
/PH.Basic/PH.Wechat/obj/*.targets
/PH.Basic/PH.Wechat/obj/*.props
/PH.Basic/PH.Wechat/obj/Debug/net6.0/*.cs
/PH.Basic/PH.Wechat/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.Wechat/obj/Debug/net6.0/*.cache
/PH.Basic/PH.Web.Core/obj/*.cache
/PH.Basic/PH.Web.Core/obj/*.json
/PH.Basic/PH.Web.Core/obj/*.targets
/PH.Basic/PH.Web.Core/obj/*.props
/PH.Basic/PH.Web.Core/obj/Debug/net6.0/*.cs
/PH.Basic/PH.Web.Core/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.Web.Core/obj/Debug/net6.0/*.cache
/PH.Basic/PH.UnitTest/PH.UnitTest/obj/*.cache
/PH.Basic/PH.UnitTest/PH.UnitTest/obj/*.json
/PH.Basic/PH.UnitTest/PH.UnitTest/obj/*.targets
/PH.Basic/PH.UnitTest/PH.UnitTest/obj/*.props
/PH.Basic/PH.UnitTest/PH.UnitTest/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.UnitTest/PH.UnitTest/obj/Debug/net6.0/*.cache
/PH.Basic/PH.UnitTest/PH.UnitTest/obj/Debug/net6.0/*.cs
/PH.Basic/PH.ToolsLibrary/obj/*.cache
/PH.Basic/PH.ToolsLibrary/obj/*.json
/PH.Basic/PH.ToolsLibrary/obj/*.targets
/PH.Basic/PH.ToolsLibrary/obj/*.props
/PH.Basic/PH.ToolsLibrary/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.ToolsLibrary/obj/Debug/net6.0/*.cache
/PH.Basic/PH.ToolsLibrary/obj/Debug/net6.0/*.cs
/PH.Basic/PH.Serilog/obj/*.cache
/PH.Basic/PH.Serilog/obj/*.json
/PH.Basic/PH.Serilog/obj/*.targets
/PH.Basic/PH.Serilog/obj/*.props
/PH.Basic/PH.Serilog/obj/Debug/net6.0/*.cs
/PH.Basic/PH.Serilog/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.Serilog/obj/Debug/net6.0/*.cache
/PH.Basic/PH.FileStorage/obj/*.cache
/PH.Basic/PH.FileStorage/obj/*.json
/PH.Basic/PH.FileStorage/obj/*.targets
/PH.Basic/PH.FileStorage/obj/*.props
/PH.Basic/PH.FileStorage/obj/Debug/net6.0/*.cs
/PH.Basic/PH.FileStorage/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.FileStorage/obj/Debug/net6.0/*.cache
/PH.Basic/PH.DatabaseAccessor/obj/*.cache
/PH.Basic/PH.DatabaseAccessor/obj/*.json
/PH.Basic/PH.DatabaseAccessor/obj/*.targets
/PH.Basic/PH.DatabaseAccessor/obj/*.props
/PH.Basic/PH.DatabaseAccessor/obj/Debug/net6.0/*.cs
/PH.Basic/PH.DatabaseAccessor/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.DatabaseAccessor/obj/Debug/net6.0/*.cache
/PH.Basic/PH.Core/obj/*.cache
/PH.Basic/PH.Core/obj/*.json
/PH.Basic/PH.Core/obj/*.targets
/PH.Basic/PH.Core/obj/*.props
/PH.Basic/PH.Core/obj/Debug/net6.0/*.cs
/PH.Basic/PH.Core/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.Core/obj/Debug/net6.0/*.cache
/PH.Basic/PH.Authentication.JwtBearer/obj/*.cache
/PH.Basic/PH.Authentication.JwtBearer/obj/*.json
/PH.Basic/PH.Authentication.JwtBearer/obj/*.targets
/PH.Basic/PH.Authentication.JwtBearer/obj/*.props
/PH.Basic/PH.Authentication.JwtBearer/obj/Debug/net6.0/*.cs
/PH.Basic/PH.Authentication.JwtBearer/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.Authentication.JwtBearer/obj/Debug/net6.0/*.cache
/PH.Basic/PH.Aliyun.Service/obj/*.cache
/PH.Basic/PH.Aliyun.Service/obj/*.json
/PH.Basic/PH.Aliyun.Service/obj/*.targets
/PH.Basic/PH.Aliyun.Service/obj/*.props
/PH.Basic/PH.Aliyun.Service/obj/Debug/net6.0/*.cs
/PH.Basic/PH.Aliyun.Service/obj/Debug/net6.0/*.editorconfig
/PH.Basic/PH.Aliyun.Service/obj/Debug/net6.0/*.cache
/PH.Application/Blog/PH.EntityFrameworkCore/obj/*.cache
/PH.Application/Blog/PH.EntityFrameworkCore/obj/*.json
/PH.Application/Blog/PH.EntityFrameworkCore/obj/*.targets
/PH.Application/Blog/PH.EntityFrameworkCore/obj/*.props
/PH.Application/Blog/PH.EntityFrameworkCore/obj/Debug/net6.0/*.cs
/PH.Application/Blog/PH.EntityFrameworkCore/obj/Debug/net6.0/*.editorconfig
/PH.Application/Blog/PH.EntityFrameworkCore/obj/Debug/net6.0/*.cache
/PH.Application/Blog/PH.Blog.Entry/Properties/*.json
/PH.Application/Blog/PH.Blog.Entry/obj/*.cache
/PH.Application/Blog/PH.Blog.Entry/obj/*.json
/PH.Application/Blog/PH.Blog.Entry/obj/*.targets
/PH.Application/Blog/PH.Blog.Entry/obj/*.props
/PH.Application/Blog/PH.Blog.Entry/obj/Debug/net6.0/*.cs
/PH.Application/Blog/PH.Blog.Entry/obj/Debug/net6.0/*.editorconfig
/PH.Application/Blog/PH.Blog.Entry/obj/Debug/net6.0/*.cache
/PH.Application/Blog/PH.Blog.Entity/obj/*.cache
/PH.Application/Blog/PH.Blog.Entity/obj/*.json
/PH.Application/Blog/PH.Blog.Entity/obj/*.targets
/PH.Application/Blog/PH.Blog.Entity/obj/*.props
/PH.Application/Blog/PH.Blog.Entity/obj/Debug/net6.0/*.cs
/PH.Application/Blog/PH.Blog.Entity/obj/Debug/net6.0/*.editorconfig
/PH.Application/Blog/PH.Blog.Entity/obj/Debug/net6.0/*.cache
/PH.Application/Blog/PH.Blog.Core/obj/*.cache
/PH.Application/Blog/PH.Blog.Core/obj/*.json
/PH.Application/Blog/PH.Blog.Core/obj/*.targets
/PH.Application/Blog/PH.Blog.Core/obj/*.props
/PH.Application/Blog/PH.Blog.Core/obj/Debug/net6.0/*.cs
/PH.Application/Blog/PH.Blog.Core/obj/Debug/net6.0/*.editorconfig
/PH.Application/Blog/PH.Blog.Core/obj/Debug/net6.0/*.cache
/PH.Application/Blog/PH.Blog.Contract/obj/*.cache
/PH.Application/Blog/PH.Blog.Contract/obj/*.json
/PH.Application/Blog/PH.Blog.Contract/obj/*.targets
/PH.Application/Blog/PH.Blog.Contract/obj/*.props
/PH.Application/Blog/PH.Blog.Contract/obj/Debug/net6.0/*.cs
/PH.Application/Blog/PH.Blog.Contract/obj/Debug/net6.0/*.editorconfig
/PH.Application/Blog/PH.Blog.Contract/obj/Debug/net6.0/*.cache
/PH.Application/Blog/PH.Blog.Application/obj/*.cache
/PH.Application/Blog/PH.Blog.Application/obj/*.json
/PH.Application/Blog/PH.Blog.Application/obj/*.targets
/PH.Application/Blog/PH.Blog.Application/obj/*.props
/PH.Application/Blog/PH.Blog.Application/obj/Debug/net6.0/*.cs
/PH.Application/Blog/PH.Blog.Application/obj/Debug/net6.0/*.editorconfig
/PH.Application/Blog/PH.Blog.Application/obj/Debug/net6.0/*.cache
/.vs/phqmo.com/v17/*.suo
/.vs/phqmo.com/v17/*.v1
/.vs/phqmo.com/v16/*.suo
/.vs/phqmo.com/DesignTimeBuild/*.v2
/.vs/phqmo.com/config/*.config
/PH.Basic/PH.UnitTest/PH.UnitTest/bin/Debug/net6.0
